body
{
	background-color: rgba(117, 190, 218, 1.0);
	display: table;
}

.blockMilieu
{
	background-color: white;
	text-align: center;
	/*border: 3px black outset;
	border-radius: 10px;*/
	width: 80%;
	margin-left: 10%;
	margin-right: auto;
	margin-top: -10px;
	margin-bottom: 0px;
	position: absolute;
	padding-top: 9%;
	padding-bottom: 2%;
}


p, tr
{
	font-family: Verdana;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
	padding-left: 5%;
	padding-right: 5%;
	color : black;
}

th
{
	text-align: center;
	border-style:solid; 
	border-color:black;
}

h1
{
	text-align: center;
	font-family: fantasy;
	color : darkblue;

}

h3
{
	text-align: left;
	margin-left: 10px;
}

td
{
	 border-style: solid; 
	 border-color: black;
	 width: 33%;
	 padding: 1%;

}


#paragraphe_footer
{
	text-align : center;
	font-size: 10px;
}

#logo_polytech
{
	margin-left: 10px;
	/*height: 100px;*/
	width: 50px;
}

.table
{ 
 	border-style:solid; 
 	border-color:black;
	width:90%;
	border-width: 1px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.banniere
{
	background-color: blue;
	text-align: center;
	margin-left: -8px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	z-index : 3;
	position: absolute;
	width : 100%;
	height: 13%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*position : fixed;*/
}
.bouton
{
	border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	padding-right: 14%;
	padding-left: 14%;
}

.chiffre
{
	color : blue;
	font-family: "Courier new";
	font-size: 50px;
	display: inline-flex;
	padding: 3%;
}

hr
{
	margin-top : 10%;
}

.accueil
{
	font-size : 16px;
}